html, body{
	height: 100%;
	width: 100%;
	overflow: auto;
}

/* ---------------------------------------------------------------------- */
/*	Navigation top & left
 /* ---------------------------------------------------------------------- */

.navigation-top{
	max-height: 48px;
}

.container-navbar{
  width: 100%;
  padding-right: 15px;
}

.btn-run-nav{
	border-radius: 0px;
	background: transparent;
	padding: 12px;
}
.btn-run-nav.open{
	background: rgba(0,0,0, .6);
	color: #fff;
}
.btn-run-nav.active.focus,
.btn-run-nav.active:focus,
.btn-run-nav.focus,
.btn-run-nav:active.focus,
.btn-run-nav:active:focus,
.btn-run-nav:focus {
	outline: #fff;
	outline-offset: 0px;
}

/* a vérifier la responsivité*/
.navbar-brand-center{
	position: absolute;
	width: 100%;
	overflow: hidden;
	text-align: center;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
  padding: 0px;
}
.logo{
  max-width: 100px;
  max-height: 50px;
  margin: auto;
}

.nav-right li a > span.text-link{
	display: block;
  	padding-top: 5px;
}
.nav-right>li>a.lic-xs{
  color: #521491;
}

.nav-right>li>a.lic-xs:hover, .nav-right>li>a.lic-xs:focus{
	text-decoration: none;
  	background: none !important;
  	color: #410F74;
}

.container-navbar .nav-left{
	position: absolute;
	z-index: 999;
}

.container-navbar .nav{
  margin-bottom: -5px;
  margin-top: -5px;
}

.navigation-top ul li a{
	max-height: 55px;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 48px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 48px;
    width: 0;
    height: 100%;
    margin-left: -48px;
    overflow-y: auto;
    background: #2C3E50;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 48px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -48px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-bottom: 1px solid #202B37;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 10px 0px 1px 0px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li a i{
	margin-left: -40px;
}

/* ---------------------------------------------------------------------- */
/*	Sub header
 /* ---------------------------------------------------------------------- */

.main-container{
	margin-top: 50px;
}
.main-body > .container{
    max-width: none !important;
 	width: auto !important;
  padding-top: 1em;
}

.page-header{
    border-bottom: 1px solid #CFCFCF;
    background-color: #fff;
    margin: 50px 0 0px;
    padding-left: 3em;
    padding-bottom: 0px;
}
.page-header h1{
    font-size: 20px ;
    padding-top: 4px;
    color: #777;
}


/* ---------------------------------------------------------------------- */
/*	Form dropzone
 /* ---------------------------------------------------------------------- */

form.dropzone{
	border: 3px dashed #59ABE3;
	border-radius: 4px;
}
.dropzone .dz-message{
  font-size: 2em;
  color: #333;
}


/* ---------------------------------------------------------------------- */
/*	General class
 /* ---------------------------------------------------------------------- */

.no-display{
	display: none;
}
.no-padding-right{
	padding-right: 0px;
}
.empty{
  padding: 10em 1em;
}
.box_controls{
  min-height: 40px;
  padding-top: 3px;
  padding-right: 1em;
  background: #F5F5F5;
  border-bottom: 1px solid #DBDBDB;
}
.content-table, .content-form{
    border: 1px solid #eee;
    padding: 1em;
    margin-top: 1em;
    background: #fff;
    border-radius: 5px;
    min-height: 480px;
}

.actions-table{
  /*display: none;*/
  width: 35px;
}

#map-canvas {
    min-height: 600px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.icon-notice{
  color: #333;
  display: block;
  width: 75px;
  height: 64px;
  border-right: 1px solid #eee;
  font-size: 15px;
  text-align: center;
  padding-top: 1.1em;
  background: #fff;
}

.ns-content{
  padding-left: 5px;
}
.ns-box{
  min-width: 300px;
  top: 29px;
  left: 28px;
}

/* ---------------------------------------------------------------------- */
/*  Page compteur form
 /* ---------------------------------------------------------------------- */

.map-form{
    border: 1px solid #eee;
    margin: 2em;
    border-radius: 6px;
}

.box_picture{
  border: 1px solid #eee;
  min-height: 300px;
  border-radius: 6px;
  padding: 6px 6px;
  margin-bottom: 1em;
  cursor: pointer;
}

/* ---------------------------------------------------------------------- */
/*  Spinner
 /* ---------------------------------------------------------------------- */
  .spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
