
body{
	background-color: #e9eaed;
}

.navigation-top{
  background-color: #663399;
  border-color: #521491;
}
.navigation-top ul li a, .navigation-top{
	color: #fff;
}
.navigation-top ul li a:hover{
	color: #333;
}
