<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="#/agent"><i class="fa fa-tachometer fa-2x"></i></a>
        </li>
        <li >
            <a href="#/agent/territoire"><i class="fa fa-map-marker fa-2x"></i></a>
        </li>
        <li>
            <a href="#/agent/probleme"><i class="fa fa-warning fa-2x"></i></a>
        </li>
        <li ng-show="currentUser.admin">
            <a href="#/agent/responsable"><i class="fa fa-users fa-2x"></i></a>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-file fa-2x"></i></a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
