<div ng-include="'parts/agent/includes/header.html'"></div>
<div class="main-container">
		<div ng-include="'parts/agent/includes/nav-left.html'"></div>
		<div class="main-body">
			<div class="page-header">
				<h1>Dashboard <small>overview &amp; statistiques </small></h1>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						<div class="panel panel-default">
						  <div class="panel-heading">
						  	<h3 class="panel-title">Problèmes par jour</h3>
						  </div>
						  <div class="panel-body">
								<canvas id="bar" class="chart chart-line" data="data" labels="labels"></canvas>
						  </div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Problème par catégorie</h3>
						  </div>
						  <div class="panel-body">
								<canvas id="doughnut" class="chart chart-doughnut" data="data1" labels="labels1"></canvas>
						  </div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Localisation des problèmes</h3>
						</div>
						<div class="panel-body">
							<div id="map-canvas"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
