<div ng-include="'parts/agent/includes/header.html'"></div>
<div class="main-container">
	<div ng-include="'parts/agent/includes/nav-left.html'"></div>
	<div class="main-body">
		<div class="page-header">
		  	<h1>Les territoires</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="content-table">
						<div id="map-canvas"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Les territoires</h3>
						</div>
						<div class="panel-body">
							<ul>
								<li ng-click="open($index)" ng-mouseenter="changeColor($index,true)" ng-mouseleave="changeColor($index,false)" ng-repeat="territoire in territoires">{{ territoire.nom }} - {{ territoire.responsable.length}}</li>
							<ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Nouveau territoire</h3>
    </div>
    <div class="modal-body">
			<label>Nom de territoire : </label> <input type="text" ng-model="territoire.nom">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="TerritoireModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
    </div>
    <div class="modal-body">
				<h3>Liste des reponsables</h3>
        <table class="table">
					<tr ng-repeat='r in selectedRes'>
						<td>{{r.nom}}</td>
						<td>{{r.prenom}}</td>
						<td>{{r.email}}</td>
						<td><button ng-click=(remove(r._id)) class='btn btn-danger'><i class="fa fa-minus"></i></button></td>
					</tr>
				</table>
				<div class="row">
					<div class="col-md-4">
		        <select ng-model="selected" class="form-control">
							<option ng-repeat="r in responsables" value='{{r._id}}'>{{r.nom}} {{ r.prenom }}</option>
						</select>
					</div>
					<div class="col-md-4">
						<button ng-click="add()" class='btn btn-primary'><i class="fa fa-plus"></i></button>
					</div>
				</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
