<div ng-include="'parts/agent/includes/header.html'"></div>
<div class="main-container">
	<div ng-include="'parts/agent/includes/nav-left.html'"></div>
	<div class="main-body">
		<div class="page-header">
		  	<h1>{{ title }}</h1>
				<div class="box_controls">
					<a href="javascript:;" class="btn btn-primary pull-right">Nouveau responsable</a>
				</div>
		</div>

		<div class="container">
			<div class="content-form">
        <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>{{ formTitle }}</legend>

        <div class="row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="textinput">Nom</label>
            <div class="col-md-8">
              <input ng-model="r.nom" type="text" class="form-control input-md">
              <span class="help-block"> </span>
            </div>
          </div>

          <div class="form-group col-md-6" >
            <label class="col-md-4 control-label" for="passwordinput">Prenom</label>
            <div class="col-md-8">
              <input ng-model="r.prenom" type="text" class="form-control input-md">
              <span class="help-block"> </span>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="textinput">Email</label>
            <div class="col-md-8">
            <input ng-model="r.email" type="email" class="form-control input-md">
            <span class="help-block"> </span>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="prependedtext">Tel</label>
            <div class="col-md-8">
              <div class="input-group">
                <span class="input-group-addon">+212</span>
                <input class="form-control" ng-model="r.tel" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="textinput">Mot de passe</label>
            <div class="col-md-8">
            <input ng-model="r.password" type="password" class="form-control input-md">
            <span class="help-block">Au moins 6 caractéres</span>
            </div>
          </div>

          <div class="form-group col-md-6" >
            <label class="col-md-4 control-label" for="passwordinput">Confirmation de mot de passe</label>
            <div class="col-md-8">
              <input ng-model="r.passwordConfirmation" type="text" class="form-control input-md">
              <span class="help-block"> </span>
            </div>
          </div>
        </div>

				<div class="form-group ">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<button ng-click="action()" class="btn btn-primary ">{{ buttonLbl }}</button>
					</div>
				</div>

        </fieldset>
        </form>

			</div>
		</div>
	</div>
</div>
