<div ng-include="'parts/agent/includes/header.html'"></div>
<div class="main-container">
	<div ng-include="'parts/agent/includes/nav-left.html'"></div>
	<div class="main-body">
		<div class="page-header">
		  	<h1>Liste des responsables</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="content-table">
						<div class="spinner" ng-show="loading">
						  <div class="double-bounce1"></div>
						  <div class="double-bounce2"></div>
						</div>
						<table ng-table class="table table-hover table-striped" ng-show="!loading">
					      <thead>
					        <tr>
										<th>Nom complet</th>
					          <th>Email</th>
					          <th>Tel</th>
					          <th class="actions-table"></th>
					        </tr>
					      </thead>
					      <tbody>
					        <tr ng-repeat="item in responsables" ng-mouseenter="dis = true" ng-mouseleave="dis = false">
										<td>{{item.prenom}} {{item.nom}}</td>
					          <td>{{item.email}}</td>
					          <td>{{item.tel}}</td>
					          <td>
					          	<div>
					          		<div class="btn-group">
										<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="javascript:;">
											<i class="fa fa-cog"></i> <span class="caret"></span>
										</a>
										<ul role="menu" class="dropdown-menu pull-right">
											<li role="presentation">
												<a role="menuitem" tabindex="-1" href="#/agent/responsable/{{item._id}}">
													<i class="fa fa-edit"></i> Modifier
												</a>
											</li>
											<li role="presentation">
												<a role="menuitem" ng-click="remove($index)" tabindex="-1" href="javascript:;">
													<i class="fa fa-times-circle-o"></i> Supprimer
												</a>
											</li>
										</ul>
									</div>
					          	</div>
					          </td>
					        </tr>
					      </tbody>
					    </table>
					    <div class="empty" ng-show="list.length == 0 && !loading">
				      		<h3 class="text-center">Aucun résultat disponible</h3>
			      	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
