<div ng-include="'parts/agent/includes/header.html'"></div>
<div class="main-container">
		<div ng-include="'parts/agent/includes/nav-left.html'"></div>
		<div class="main-body">
			<div class="page-header">
				<h1>Dashboard <small>overview &amp; statistiques </small></h1>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						<div class="panel panel-default">
						  <div class="panel-heading">
						  	<h3 class="panel-title">Statistique de recencement</h3>
						  </div>
						  <div class="panel-body">
						    Panel content
						  </div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Panneau de recencement</h3>
						  </div>
						  <div class="panel-body">
						    Panel content
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
