<div ng-include="'parts/agent/includes/header.html'"></div>
<div class="main-container">
	<div ng-include="'parts/agent/includes/nav-left.html'"></div>
	<div class="main-body">
		<div class="page-header">
		  	<h1>Modifer un probleme</h1>
		</div>

		<div class="container">
			<div class="content-form">
        <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>
					<div>
						<label>Probleme {{probleme._id}}</label>
						<button ng-click="update()" class="btn btn-primary pull-right">Enregistrer</button>
					</div>
				</legend>

        <div class="row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="passwordinput"></label>
            <img ng-src="data:image/png;base64,{{probleme.image}}" class="img-thumbnail">
          </div>

          <div class="form-group col-md-6" >
            <label class="col-md-4 control-label" for="passwordinput">Etat</label>
            <div class="col-md-8">
							<select class="form-control" ng-model='probleme.etat' ng-change='etatChanged(item)'>
								<option value="Fixe">Fixé</option>
								<option value="Ferme">Fermé</option>
								<option value="Ouvert">Ouvert</option>
								<option value="Nouveau">Nouveau</option>
								<option value="Irreparables">Irreparables</option>
							</select>
            </div>
          </div>
        </div>

        <div class="row">
					<div class="form-group col-md-6">
					  <label class="col-md-4 control-label" for="textarea">Description</label>
					  <div class="col-md-8">
					    <textarea class="form-control" id="textarea" name="textarea">{{ probleme.description }}</textarea>
					  </div>
					</div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="prependedtext">Date d'ajout</label>
            <div class="col-md-8">
              <div class="input-group">
                <label>{{probleme.cree}}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
					<div class="form-group col-md-6" >
            <label class="col-md-4 control-label" for="passwordinput">Catégorie</label>
            <div class="col-md-8">
							<select class="form-control" ng-model='probleme.categorie'>
								<option value="Trotoir">Trotoir</option>
								<option value="Chaussée">Chaussée</option>
								<option value="Pist cyclable">Pist cyclable</option>
								<option value="Espace vert">Espace vert</option>
								<option value="Pont ou tunnel">Pont ou tunnel</option>
							</select>
            </div>
          </div>
					<div class="form-group col-md-6" >
            <label class="col-md-4 control-label" for="passwordinput">Sous catégorie</label>
            <div class="col-md-8">
							<select class="form-control" ng-model='probleme.subCategorie'>
								<option value="Trou">Trou</option>
								<option value="Revêtement dégradé">Revêtement dégradé</option>
								<option value="Affaissment">Affaissment</option>
								<option value="Marquage effacé">Marquage effacé</option>
							</select>
            </div>
          </div>
        </div>
			</fieldset>
			<fieldset>
				<legend>Information sur le déclarant</legend>
				<div class="row">
					<div class="form-group col-md-6">
						<label class="col-md-4 control-label" for="textarea">Nom complet</label>
						<div class="col-md-8">
							<input ng-model="probleme.nom" type="text" class="form-control input-md">
						</div>
					</div>

					<div class="form-group col-md-6">
						<label class="col-md-4 control-label" for="prependedtext">Email</label>
						<div class="col-md-8">
							<div class="input-group">
								<input ng-model="probleme.email" type="email" class="form-control input-md">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-6">
						<label class="col-md-4 control-label" for="textarea">Tel</label>
						<div class="col-md-8">
							<input ng-model="probleme.tel" type="text" class="form-control input-md">
						</div>
					</div>
				</div>

        </fieldset>
				<fieldset>
				<legend>Localisation</legend>
				<div id="map-canvas"></div>
				<fieldset>
        </form>

			</div>
		</div>
	</div>
</div>
