<div ng-include="'parts/agent/includes/header.html'"></div>
<div class="main-container">
	<div ng-include="'parts/agent/includes/nav-left.html'"></div>
	<div class="main-body">
		<div class="page-header">
		  	<h1>Liste de problemes</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="content-table">
						<div class="spinner" ng-show="loading">
						  <div class="double-bounce1"></div>
						  <div class="double-bounce2"></div>
						</div>
						<table ng-table="tableParams" class="table table-hover table-striped" ng-show="!loading">
					      <thead>
					        <tr>
										<th>Date</th>
					          <th>Description</th>
					          <th>Categorie</th>
										<th>Sous categorie</th>
					          <th>Etat</th>
					          <th class="actions-table"></th>
					        </tr>
					      </thead>
					      <tbody>
					        <tr ng-repeat="item in problemes">
										<td>{{item.cree}}</td>
					          <td>{{item.description}}</td>
					          <td>{{item.categorie}}</td>
					          <td>{{item.subCategorie}}</td>
					          <td>
											<select ng-model='item.etat' ng-change='etatChanged(item)'>
												<option value="Fixe">Fixé</option>
												<option value="Ferme">Fermé</option>
												<option value="Ouvert">Ouvert</option>
												<option value="Nouveau">Nouveau</option>
												<option value="Irreparables">Irreparables</option>
											</select>
										</td>
					          <td>
					          	<div>
					          		<div class="btn-group">
										<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="javascript:;">
											<i class="fa fa-cog"></i> <span class="caret"></span>
										</a>
										<ul role="menu" class="dropdown-menu pull-right">
											<li role="presentation">
												<a role="menuitem" tabindex="-1" href="#/agent/probleme/{{item._id}}">
													<i class="fa fa-edit"></i> Modifier
												</a>
											</li>
											<li role="presentation">
												<a role="menuitem" ng-click="remove($index)" tabindex="-1" href="javascript:;">
													<i class="fa fa-times-circle-o"></i> Supprimer
												</a>
											</li>
										</ul>
									</div>
					          	</div>
					          </td>
					        </tr>
					      </tbody>
					    </table>
					    <div class="empty" ng-show="list.length == 0 && !loading">
				      		<h3 class="text-center">Aucun résultat disponible</h3>
				      	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
