<div ng-include="'parts/includes/header.html'"></div>
<div class="main-container">
	<div ng-include="'parts/includes/nav-left.html'"></div>
	<div class="page-header">
	  	<h1>Liste de compteurs</h1>
	</div>
	<div class="main-body">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="box_controls">
						<a href="#/compteur/form" class="btn btn-primary pull-right">Nouveau</a>
					</div>
					<div class="content-table">
						<div class="spinner" ng-show="loading">
						  <div class="double-bounce1"></div>
						  <div class="double-bounce2"></div>
						</div>
						<table class="table table-hover table-striped" ng-show="!loading">
					      <thead>
					        <tr>
					          <th>#</th>
					          <th>NUMERO</th>
					          <th>MARQUE</th>
					          <th>TYPE</th>
					          <th class="actions-table"></th>
					        </tr>
					      </thead>
					      <tbody>
					      	<tr ng-show="list.length == 0">
					      		<td colspan="5">
					      			<h3 class="text-center">Aucun résultat disponible</h3>
					      		</td>
					      	</tr>
					        <tr ng-repeat="item in list" ng-mouseenter="dis = true" ng-mouseleave="dis = false">
					          <td>{{item.id}}</td>
					          <td>{{item.numero}}</td>
					          <td>{{item.marque}}</td>
					          <td>{{item.type}}</td>
					          <td>
					          	<div class="btn-group" ng-show="dis">
					          	<a href="javascript:;" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
					          	<a href="javascript:;" ng-click="remove($index)" class="btn btn-default"><i class="fa fa-times-circle"></i></a>
					          	</div>
					          </td>
					        </tr>
					      </tbody>
					    </table>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>