<div ng-include="'parts/includes/header.html'"></div>
<div class="main-container">
	<div ng-include="'parts/includes/nav-left.html'"></div>
	<div class="page-header">
	  	<h1>Nouveau compteur</h1>
	</div>
	<div class="main-body">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="box_controls">
						<a href="javascript:;" class="btn btn-primary pull-right">Sauvegarder</a>
					</div>
					<div class="content-form">
					<div class="row">
						<div class="col-sm-12">
							<form class="form-horizontal">
								  <div class="form-group">
								 	<div class="control-groups">
									 	<div class="col-sm-10">
										    <label class="col-sm-2 control-label">N° de compteur</label>
										    <div class="col-sm-10">
										      <input type="text" class="form-control" placeholder="N° de compteur">
										    </div>
									 	</div>
									 	<div class="col-sm-2">
									 	<button type="button" id="btn-check" data-loading-text="Loading..." class="btn btn-success" autocomplete="off">Vérifier</button>
									 	</div>
								 	</div>
								  </div>
								  <hr/>
								  <div ng-show="true">
									  <div class="form-group">
									 	<div class="control-groups">
										 	<div class="col-sm-4">
											    <label class="col-sm-5 control-label">Localité</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="localité">
											    </div>
										 	</div>
										 	<div class="col-sm-2">
											    <label class="col-sm-5 control-label">Police</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="Police">
											    </div>
										 	</div>
										 	<div class="col-sm-2">
											    <label class="col-sm-5 control-label">Secteur</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="Secteur">
											    </div>
										 	</div>
										 	<div class="col-sm-2">
											    <label class="col-sm-5 control-label">Tournée</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="Tournée">
											    </div>
										 	</div>
										 	<div class="col-sm-2">
												<label class="col-sm-5 control-label">Order</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="Order">
											    </div>
											</div>
									 	</div>
									  </div>
									 <div class="form-group">
									 	<div class="control-groups">
											<div class="col-sm-4">
												<label class="col-sm-5 control-label">Nom de client</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="Nom de client">
											    </div>
											</div>
											<div class="col-sm-8">
												<label class="col-sm-2 control-label">Adresse</label>
											    <div class="col-sm-10">
											      <textarea type="text" class="form-control" placeholder="Adresse" ></textarea>
											    </div>
											</div>
									 	</div>
									</div>
									<div class="form-group">
									 	<div class="control-groups">
											<div class="col-sm-4">
												<label class="col-sm-5 control-label">Nature de local alimenté</label>
											    <div class="col-sm-7">
											      <select class="form-control"></select>
											    </div>
											</div>
											<div class="col-sm-8">
												<label class="col-sm-2 control-label">Catégorie</label>
											    <div class="col-sm-10">
											      <select class="form-control"></select>
											    </div>
											</div>
									 	</div>
									</div>
									 <div class="form-group">
									 	<div class="control-groups">
										 	<div class="col-sm-4">
											    <label class="col-sm-5 control-label">Marque</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="Marque">
											    </div>
										 	</div>
										 	<div class="col-sm-4">
											    <label class="col-sm-5 control-label">Type de compteur</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="type">
											    </div>
										 	</div>
										 	<div class="col-sm-2">
											    <label class="col-sm-5 control-label">Calibre</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="Calibre">
											    </div>
										 	</div>
										 	<div class="col-sm-2">
											    <label class="col-sm-5 control-label">Roue</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="Roue">
											    </div>
										 	</div>
									 	</div>
									</div>
									<div class="form-group">
									 	<div class="control-groups">
										 	<div class="col-sm-4">
											    <label class="col-sm-5 control-label">Date posé</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="Date">
											    </div>
										 	</div>
										 	<div class="col-sm-4">
											    <label class="col-sm-5 control-label">Etiquette</label>
											    <div class="col-sm-7">
											      <toggle-switch 
											      model="item"
											      class="switch-success"
													on-label="Oui"
													off-label="Non"
											      ></toggle-switch>
											    </div>
										 	</div>
										 	<div class="col-sm-4">
											    <label class="col-sm-5 control-label">Plombage</label>
											    <div class="col-sm-7">
											      <toggle-switch 
											      model="itemS"
											      class="switch-success"
													on-label="Oui"
													off-label="Non"
											      ></toggle-switch>
											    </div>
										 	</div>
									 	</div>
									</div>
									<div class="form-group">
									 	<div class="control-groups">
										 	<div class="col-sm-4">
											    <label class="col-sm-5 control-label">Index</label>
											    <div class="col-sm-7">
											      <input type="text" class="form-control" placeholder="index">
											    </div>
										 	</div>
										 	<div class="col-sm-4">
											    <label class="col-sm-5 control-label">Anomalies</label>
											    <div class="col-sm-7">
											      <select class="form-control"></select>
											    </div>
										 	</div>
										 	<div class="col-sm-4">
											    <label class="col-sm-5 control-label">Fraudes</label>
											    <div class="col-sm-7">
											      <select class="form-control"></select>
											    </div>
										 	</div>
									 	</div>
									</div>
									<div class="form-group">
									 	<div class="control-groups">
										 	<div class="col-sm-6">
										 		<div class="box_picture">
										 			<img data-src="holder.js/100%x300" alt="..." >
										 		</div>
										 	</div>
										 	<div class="col-sm-6">
											    <div class="box_picture">
											    	<img data-src="holder.js/100%x300" alt="..." >
										 		</div>
										 	</div>
									 	</div>
									</div>
									<div class="form-group">
										<div class="map-form">
											<div id="map-canvas"></div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<script src="assets/plugins/holder/holder.js"></script>