<div ng-include="'parts/includes/header.html'"></div>
<div class="main-container">
		<div ng-include="'parts/includes/nav-left.html'"></div>
		<div class="main-body">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="text-center">Lorem ipsum</h1>
					</div>
				</div>
			</div>
		</div>
</div>