<div ng-include="'parts/includes/header.html'"></div>
<div class="main-container">
	<div ng-include="'parts/includes/nav-left.html'"></div>
	<div class="page-header">
	  	<h1>Localisation des compteurs</h1>
	</div>
	<div class="main-body">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="box_controls">
						<a href="#/" class="btn btn-primary pull-right">Nouveau</a>
					</div>
					<div class="content-table">
						<div id="map-canvas"></div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>