<div class="container">
<div class="card card-container">
    <img class="logo-img-card" data-src="holder.js/96x96" />
    <form class="form-signin" name="form-signin" ng-submit="login(form-signin)">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus ng-model="user.email">
        <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required ng-model="user.password">
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Se connecter</button>
    </form><!-- /form -->
</div><!-- /card-container -->
</div><!-- /container -->
<script src="assets/plugins/holder/holder.js"></script>
