<!-- Start navigation -->
<div class="navbar navigation-top navbar-fixed-top">
	<div class="container-navbar">
		<ul class="nav navbar-nav nav-left">
			<li>
				<button type="button" class="btn btn-run-nav" onclick="Checkly.runNavigation();">
					<i class="fa fa-bars fa-2x"></i>
				</button>
			</li>
		</ul>
		<div class="navbar-brand navbar-brand-center">
			{{title_navigation}}
		</div>
		<ul class="nav navbar-nav navbar-right nav-right">
			<li>
				<a href="#/" class="lic-xs">
					<i class="fa fa-bell fa-2x"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- end navigation -->
