<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="#/"><i class="fa fa-tachometer fa-2x"></i></a>
        </li>
        <li>
            <a href="#/map"><i class="fa fa-map-marker fa-2x"></i></a>
        </li>
        <li>
            <a href="#/compteur"><i class="fa fa-calendar-o fa-2x"></i></a>
        </li>
        <li>
            <a href="#/"><i class="fa fa-users fa-2x"></i></a>
        </li>
        <li>
            <a href="#/"><i class="fa fa-cog fa-2x"></i></a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->